.originalItem {
    width: 90px;
    height: 150px;

    background-size: cover;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;

        cursor: pointer;
    }
}