.flex {
    display: flex;

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-center {
        justify-content: center;
    }

    &--align-center {
        align-items: center;
    }
}

.container {
    width: 1000px;
    padding: 10px;
}

.cursor {
    cursor: pointer;
}

.mx-5 {
    margin: 0px 5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}