* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;

    &--justify-between {
        justify-content: space-between;
    }

    &--justify-center {
        justify-content: center;
    }

    &--align-center {
        align-items: center;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.container {
    width: 1000px;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.hidden {
    display: none;
}

.bg-dark {
    background-color: #111111;
}

.cursor {
    cursor: pointer;
}

.p-30 {
    padding: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-50 {
    padding-bottom: 50px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}